
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins",sans-serif;
}
.cabecalho{
    background: linear-gradient(90deg, rgb(204, 9, 47) 40%, rgb(184, 21, 112) 90%);
    width: 100%;
    height: 75px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 40px;

}
.logo img{
    width: 19%;
    height: 4%;
}

.cabecalho span{

    color: black;
}
.cabecalho h1{
    color:#fff;
}
.navegacao{
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.menu{
    list-style:none;
    display: flex;
    gap: 10px;
}

.menu .link{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgb(204, 9, 47);
    background-color: #fff;

}
.menu .link:hover{
   background-color: rgb(240, 248, 248);
    color: rgb(184, 21, 112); 

}


main{
    width:100%;
    height: calc(100vh - 75px);
    display: flex ;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #c10127 40%, #6a0dad), 
                linear-gradient(to bottom left, rgba(0, 0, 0, 0.7), transparent);
    color: #fff;
    padding: 10px;
    
}

.container{
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.texto{
    width: 45%;
   font-size: 20px;
   
}

.texto h2{
    font-weight: lighter;
}
.capa img{
    width: 450px;
}
.nave{
    margin-top: 15px;
    display: flex;
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.pagina{
    list-style:none;
    display: flex;
    gap: 10px;
}
.pagina .link-conheça{
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgb(204, 9, 47);
    background-color: #fff;

}
.pagina .link-conheça:hover{
   background-color: rgb(240, 248, 248);
    color: rgb(184, 21, 112); 

}



